body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1000px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:1000px;
  height:1000px;
  display:flex;
}
#u401 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u401_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:170px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u402_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:813px;
  height:25px;
}
#u403p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:6px;
}
#u403p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:6px;
}
#u403p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:4px;
}
#u403p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u403p002 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u403p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:210px;
  width:800px;
  height:3px;
  display:flex;
}
#u403 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u403_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:500px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:160px;
  width:340px;
  height:500px;
  display:flex;
}
#u404 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u404_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:170px;
  width:128px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u405 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u405_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:253px;
  height:25px;
}
#u406p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:244px;
  height:6px;
}
#u406p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:6px;
}
#u406p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:4px;
}
#u406p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u406p002 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u406p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:210px;
  width:240px;
  height:3px;
  display:flex;
}
#u406 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u406_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:230px;
  width:300px;
  height:400px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#D4D4D4;
}
#u407 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:153px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:240px;
  width:180px;
  height:153px;
  display:flex;
}
#u408 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u408_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:253px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u409 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u409_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(170, 170, 170, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(170, 170, 170, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(170, 170, 170, 0.647058823529412);
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:200px;
  height:22px;
}
#u410p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:184px;
  height:4px;
}
#u410p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:4px;
}
#u410p001 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-11px;
  width:24px;
  height:24px;
}
#u410p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u410p002 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u410p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:289px;
  width:180px;
  height:2px;
  display:flex;
}
#u410 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u410_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:305px;
  width:160px;
  height:33px;
  display:flex;
  font-size:20px;
}
#u411 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u411_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u411.mouseOver {
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:240px;
  width:760px;
  height:51px;
}
#u412_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:224px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u413 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u413_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u414 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u414_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:168px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u415 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u415_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u416 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u416_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u417 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u417_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u418 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u418_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u419 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u419_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u420 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u420_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:291px;
  width:760px;
  height:800px;
  visibility:hidden;
}
#u421_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u422_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:338px;
  width:146px;
  height:27px;
  display:flex;
}
#u422 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u422_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422.disabled {
}
#u423 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:352px;
  width:28px;
  height:20px;
}
#u423_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:6px;
  height:20px;
  display:flex;
}
#u425 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u425_text {
  border-width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:352px;
  width:28px;
  height:20px;
}
#u426_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:6px;
  height:20px;
  display:flex;
}
#u428 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u428_text {
  border-width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u429_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:322px;
  width:300px;
  height:25px;
  display:flex;
}
#u429 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u429_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429.disabled {
}
#u430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u430_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:362px;
  width:300px;
  height:25px;
  display:flex;
}
#u430 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u430_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u430.disabled {
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:322px;
  width:140px;
  height:25px;
  display:flex;
}
#u431 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:400px;
  width:200px;
  height:90px;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u433 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u434 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u435 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u436 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u437 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u438 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:299px;
  width:118px;
  height:20px;
}
#u439_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u441 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u441_img.selected {
}
#u441.selected {
}
#u441_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
  display:flex;
}
#u442 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u442_text {
  border-width:0px;
  white-space:nowrap;
}
#u440_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:170px;
  height:20px;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:148px;
  height:20px;
  display:flex;
}
#u444 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u444_text {
  border-width:0px;
  white-space:nowrap;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:147px;
  height:20px;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:125px;
  height:20px;
  display:flex;
}
#u446 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u446_text {
  border-width:0px;
  white-space:nowrap;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:172px;
  height:20px;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:150px;
  height:20px;
  display:flex;
}
#u448 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u448_text {
  border-width:0px;
  white-space:nowrap;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:299px;
  width:92px;
  height:20px;
}
#u449_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u451 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u451_img.selected {
}
#u451.selected {
}
#u451_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
  display:flex;
}
#u452 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u452_text {
  border-width:0px;
  white-space:nowrap;
}
#u450_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:58px;
  height:20px;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  height:20px;
  display:flex;
}
#u454 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u454_text {
  border-width:0px;
  white-space:nowrap;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:59px;
  height:20px;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:37px;
  height:20px;
  display:flex;
}
#u456 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u456_text {
  border-width:0px;
  white-space:nowrap;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:62px;
  height:20px;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
  display:flex;
}
#u458 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u458_text {
  border-width:0px;
  white-space:nowrap;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u460 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:108px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1400px;
  height:108px;
  display:flex;
}
#u462 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u462_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:1400px;
  height:100px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u464 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
}
